/* Reduce footer height */
footer.nx-bg-gray-100 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.dark footer.nx-bg-neutral-900 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
